<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<title>TinyApp - My URLs</title>
</head>
<body class="container">

<%- include('../partials/_header', email, id); %>

<main>
    <h3>My URLs</h3>
    
    <table id="urlTable" class="table table-bordered table-hover table-responsive">
        <thead>
        <tr>
            <th scope="col">Short URL</th>
            <th scope="col">Long URL</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <% if(email && id) { %>
        <tbody>
        <% for(let url in urls) { %>
            <tr>
            <td><%= url %></td>
            <td><%= urls[url].longURL %></td>
            <td>
                <form method="GET" action="/urls/<%= url %>">
                    <button type="submit" class="btn btn-secondary" value="Edit">Edit</button>
                </form>
            </td>
            <td>
                <form method="POST" action="/urls/<%= url %>/delete">
                    <button type="submit" class="btn btn-primary" value="Delete">Delete</button>
                </form>
            </td>
            </tr>
        <% } %>
        </tbody>
        <% } %>
    </table>
    <% if(!email || !id) { %>
        <p>Please <a href="/login">Login</a> to view your Tiny URLs.</p>
      <% } %>
</main>

<%- include('../partials/_footer'); %>

</body>
</html>

