<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<%- include('../partials/_header', username); %>

<main>
    <div class="card text-center">
        <div class="card-header"></div>
        <div class="card-body">
          <h5 class="card-title">TinyURL for: <%= longURL %></h5>
          <p class="card-text">Short URL: <a href="/u/<%= shortURL %>" title="<%= longURL %>" target="_blank"><%= shortURL %></a></p>
        </div>
      <div class="card-footer text-muted">

        <div class="editURL">
          <h3>Edit tinyURL</h3>
          <form class="form-inline" action="/urls/<%= shortURL %>/edit" method="POST">
            <label for="longURL">Enter a URL:</label>
            <input class="form-control" type="text" name="longURL" placeholder="http://" required>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
</main>

<%- include('../partials/_footer'); %>

</body>
</html>